/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
}

.row {
    margin-left: calc(-1.5rem * 0.5);
    margin-right: calc(-1.5rem * 0.5);
}

.row > * {
    padding-left: calc(1.5rem * 0.5);
    padding-right: calc(1.5rem * 0.5);
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.text-left {
    text-align: left!important;
}
.text-center {
    text-align: center!important;
}
.text-right {
    text-align: right!important;
}
.text-justify {
    text-align: justify!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.title {
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
}
.title--h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 10px;
}
.title--h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    z-index: 5;
    padding-bottom: 0;
    color: #191919;
}
.title--h4 {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0;
}
.title a {
    color: inherit;
}
.section {
    padding: 60px 0;
}
.section__header {
    position: relative;
    text-align: center;
    padding-bottom: 30px;
}
.section__title {
    padding: 30px 0 0;
    position: relative;
    z-index: 1;
}
.section__title::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    color: #f4f4f4;
    top: 30px;
    font-weight: 700;
    right: 0;
    z-index: -1;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 0;
}
.section__title-h3 {
    font-size: 28px;
    font-weight: 700;
}
.section__desc {
    margin-bottom: 1rem;    
}

.content {
    line-height: 1.5;
}
.content h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 8px;
}
.content p, .content ul {
    margin-bottom: 16px;
}
.content ul li {
    padding-bottom: 10px;
}
.content ul li .bi {
    font-size: 20px;
    padding-right: 4px;
    color: #cc1616;
}
.box-shadow {
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 10%);
    padding: 30px 20px;
    background: #fff;
}
.height-fluid {
    height: 100%;
}
.circle {
    border-radius: 50%;
}
/* ---------------- */
.page__row--wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* ---------------- */

.page__cell {
    padding-left: .75rem;
    padding-right: .75rem;
}

.page__cell--fluid {
    padding-left: 0;
    padding-right: 0;
}

/* PC */
@media (max-width: 1198.98px) {
    
}
/* TABLET */
@media (max-width: 991.98px) {
    
}
/* MOBILE */
@media (max-width: 767.98px) {
    
}
/* MOBILE SMALL */
@media (max-width: 479.98px) {
    
}

/***************************************************
TOPBAR
/***************************************************/
.page__row--topbar {
    background: #191919;
    font-size: 15px;
    height: 40px;
    padding: 0;
    color: rgba(255, 255, 255, 0.6);
}

.contact-info__item {
    height: 40px;
    margin-right: 15px;
}
.contact-info__icon {
    color: #cc1616;
    line-height: 0;
    margin-right: 5px;
}
.contact-info__link {
    color: rgba(255, 255, 255, 0.6);
}

.topbar__social-link {
    color: rgba(255, 255, 255, 0.6);
    padding: 4px 14px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}
.topbar__social-link:hover {
    color: #fff;
}

/***************************************************
HEADER
/***************************************************/
.page__row--header {
    background: rgba(25, 25, 25, 0.95);
    transition: all 0.5s;
    z-index: 997;
}

.page__row--header.fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    left: 0;
    background-color: #191919;
}

.logo__picture {
    max-height: 50px;
}

.header__logo-text {
    font-weight: 700;
    padding: 0;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    line-height: 1;
    color: #fff;
    font-family: "Raleway", sans-serif;
}

.nav__items {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav__item {
    margin-left: 5px;
    line-height: 21px;
}

.nav__link, .nav__link:focus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 25px 15px 24px 15px;
    white-space: nowrap;
    color: #fff;
    transition: 0.3s;
}

.nav__link:hover, .nav__link .active, .nav__link .active:focus, .nav__item:hover .nav__link, .nav__link.active {
    background: #cc1616;
}

/***************************************************
INTRO
/***************************************************/
.page__row--intro {
    width: 100%;
    height: calc(100vh - 110px);
    background: url(../img/intro//hero-bg.jpg) top center fixed;
    background-size: cover;
    position: relative;
    padding: 60px 0;
    color: #fff;
    z-index: 1;
}
.scrolled-offset.active {
    margin-top: 70px;
}
.page__row--intro::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}

.intro__subtitle {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.2;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

/***************************************************
INTRO
/***************************************************/

.section--about {
    padding-bottom: 0;
}

/***************************************************
WHY US
/***************************************************/

.why-us {
    counter-reset: why-us;
}

.why-us__item {
    padding: 30px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    transition: all ease-in-out 0.3s;
}
.why-us__item:hover {
    box-shadow: 10px 15px 30px rgb(0 0 0 / 18%);
    padding: 15px 30px 30px 30px;
    background: #cc1616;
    color: #fff;
}
.why-us__item:hover::before {
    color: #fff;
}
.why-us__title {
    color: #191919;
}
.why-us__desc {
    color: #aaaaaa;
    font-size: 15px;
}
.why-us__item:hover * {
    color: #fff;
}

/***************************************************
CTA
/***************************************************/

.page__row--cta {
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cta/cta-bg.jpg) fixed center center;
    background-size: cover;
    padding: 120px 0;
}

.section--cta {
    padding: 0;
}

/***************************************************
PRICING
/***************************************************/

.pricing__item {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.pricing__item.featured {
    color: #fff;
    box-shadow: none;
    background: #cc1616;
}
.pricing__title {
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #191919;
    font-weight: 600;
}
.pricing__div {
    color: #cc1616;
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: 500;
}
.pricing__div sup {
    left: -3px;
    top: -15px;
    font-size: 20px;
}
.pricing__div span {
    font-weight: 300;
    font-size: 16px;
    color: #bababa;
}
.pricing__list {
    text-align: center;
    color: #191919;
    font-size: 14px;
    line-height: 20px;
}
.pricing__btn-wrap {
    text-align: center;
    padding: 15px;
}
.pricing__list-item {
    margin-bottom: 16px;
}
.pricing__list-item--na {
    color: #ccc;
    text-decoration: line-through;
}
.btn-buy {
    color: #fff;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 40px;
    transition: 0.3s;
    background: #cc1616;
    font-family: "Raleway", sans-serif;
}
.btn-buy:hover {
    background-color: #e82d2d;
}
.btn-buy.featured {
    background-color: rgba(255, 255, 255, 0.2);
}
.btn-buy.featured:hover {
    background: #fff;
    color: #cc1616;
}
.featured * {
    color: #fff;
}

/***************************************************
TEAM
/***************************************************/

.member {
    text-align: center;
    padding-bottom: 50px;
}
.member__picture {
    height: 190px;
    width: 190px;
}
.member__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 2px;
}
.member__position {
    font-size: 13px;
    display: block;
    font-style: italic;
    margin-bottom: 10px;
}
.member__text {
    color: #aaaaaa;
    font-style: italic;
    font-size: 14px;
}

/***************************************************
CONTACT
/***************************************************/

.contact__cell {
    margin-bottom: 1.5rem;
}

.contact__cell .contact__row .contact__cell:last-of-type {
    margin-bottom: 0;
}

.info-box {
    text-align: center;
}
.info-box__title {
    margin: 10px 0;
    color: #777777;
    font-size: 20px;
    font-weight: 700;
}
.info-box__text {
    font-size: 14px;
    line-height: 24px;
}

.map {
    height: 100%;
    position: relative;
    z-index: 1;
    min-height: 250px;
}

.map__iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

/***************************************************
FOOTER
/***************************************************/

.page__row--footer {
    padding: 0 0 30px 0;
    background: #0c0c0c;
    font-size: 14px;
    color: #fff;
}
.footer__top {
    padding: 60px 0 31px 0;
}
.footer__info {
    padding: 30px 20px;
    color: #fff;
    background: #191919;
    border-top: 4px solid #cc1616;
    margin-bottom: 15px;
    text-align: center;
}
.footer__logo {
    font-weight: 700;
    margin: 0 0 20px 0;
    font-size: 36px;
    line-height: 1;
    padding: 2px 0 2px 0;
}
.footer__info-text {
    font-family: "Raleway", sans-serif;
    line-height: 24px;
    font-size: 14px;
}
.footer__info-text:not(:last-child) {
    margin-bottom: 1rem;
}
.social__item {
    margin: 0 2px;
}
.social__link {
    line-height: 1;
    background: #262626;
    color: #fff;
    display: inline-block;
    padding: 8px 0;
    margin-right: 4px;
    transition: 0.3s;
    font-size: 18px;
    text-align: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.social__link:hover {
    text-decoration: none;
    color: #fff;
    background: #cc1616;
}
.social__link i {
    font-size: 14px;
}
.footer__title {
    padding-bottom: 12px;
    font-weight: 600;
    color: #fff;
    position: relative;
    font-size: 16px;
}
.footer__nav-item {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer__nav-item:first-child {
    padding-top: 0;
}
.footer__nav-item i {
    font-size: 11px;
    line-height: 1;
    color: #ed5b5b;
    padding-right: 5px;
}
.footer__nav-link {
    line-height: 1;
    display: inline-block;
    transition: 0.3s;
    color: #fff;
}
.footer__nav-link:hover {
    color: #ed5b5b;
}
.footer__form {
    margin-top: 30px;
    background: #fff;
    position: relative;
    border-radius: 4px;
}
.footer__form-control {
    border: 0;
    padding: 12px 14px;
    width: calc(100% - 114px);
    outline: none;
}
.footer__form-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #cc1616;
    color: #fff;
    transition: 0.3s;
}
.footer__bottom {
    padding-top: 30px;
    text-align: center;
    border-top: 1px solid #262626;
}
.footer__credits {
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
}
.footer__credits-link {
    color: #e82d2d;
}

@media (max-width: 991.98px) {
    
}
@media (max-width: 767.98px) {
    
}
@media (max-width: 479.98px) {
    
}

.button {
    display: inline-block;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 10px 28px;
    transition: background-color 0.3s ease 0s, border 0.3s ease 0s;
    border: 2px solid #fff;
    color: #fff;
}
.button--primary:hover {
    background: #cc1616;
    border-color: #cc1616;
}


/* -------------------------- */
.mobile-nav-toggle {
    display: none;
}

@media (max-width: 991.98px) {

    body {
        font-size: 14px;
    }
    .content h3 {
        font-size: 20px;
    }
    .title--h1 {
        font-size: 40px;
    }
    .title--h2 {
        font-size: 28px;
    }
    .title--h4 {
        font-size: 22px;
    }
    .title--h3, .section__title-h3 {
        font-size: 20px;
    }

    .section__title::before {
        font-size: 48px;
    }
    .section__cell:not(:last-child), .why-us__cell:not(:last-child), .pricing__cell:not(:last-child), .team__cell:not(:last-child) {
        margin-bottom: 1rem;
    }
    .section--why-us {
        padding-top: 0;
    }

    .footer__info {
        margin-bottom: 40px;
    }
}

@media (max-width: 767.98px) {

    .page__row--header {
        padding: 10px 0;
    }

    .nav {
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: #000;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .3s ease;
    }
    .nav.active {
        opacity: 1;
        visibility: visible;
        z-index: 10000;
    }
    .nav__items {
        display: block;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .nav__item {
        margin-left: 0;
    }
    .nav__link, .nav__link:focus {
        color: #000;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .nav__link:hover, .nav__link:focus, .nav__link.active {
        color: #fff;
        background-color: #e82d2d;
    }
    .mobile-nav-toggle {
        display: block;
    }

    .nav-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        padding: 10px;
    }
    .nav-btn--close {
        position: absolute;
        right: 5px;
        top: 25px;
        z-index: 1;
    }
    .nav-btn--close img {
        height: 30px;
        width: 30px;
    }
    .nav-btn--hamburger {
        color: white;
    }
    .nav-btn--hamburger img {
        height: 30px;
        width: 30px;
    }

    .page__row--intro {
        height: calc(100vh - 154px);
        min-height: 400px;
    }

    .page__row--topbar {
        height: auto;
        min-height: 40px;
        padding: 15px 0;
    }
    .footer__cell:not(:last-child) {
        margin-bottom: 2rem;
    }
}

@media (max-width: 439.98px) {
    .contact-info__item {
        min-height: 20px;
        height: auto;
    }
    .contact-info__item {
        margin-bottom: .5rem;
    }

    .title--h1 {
        font-size: 36px;
    }
}